/* GOOGLE FONT */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/* global setting for body content */
body {
  font-family: "poppins", sans-serif;
  background-color: #f1f5f6;
}

.banner {
  background-color: #f1f5f6;
}
/* banner-top */
.banner-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  margin-bottom: 10px;
}
.hot-deals {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.icon-clock {
  width: 20px;
  height: 20px;
  background-color: rgb(202, 53, 53);
  border-radius: 50%;
  margin-right: 10px;
}
.color-red {
  color: rgb(202, 53, 53);
  font-weight: bold;
}
.offer-countdown {
  display: flex;
  align-items: center;
}
.countdown-timer {
  display: flex;
  margin-left: 10px;
}
.count-down-bg {
  background-color: rgb(202, 53, 53);
  color: #fff;
  padding: 5px 10px;
  margin: 0 2px;
  font-weight: bold;
}
p {
  margin: 0;
}
.background-white {
  background-color: white;
}

/* product card */
.product-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
}
.banner-img-container {
  width: 40%;
  flex-shrink: 0;
}
.banner-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.product-cards {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 20px;
  width: 60%;
}
.product-card {
  min-width: 200px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background: white;
  padding: 10px;
  box-sizing: border-box;
}
.product-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.color-white {
  color: white;
}
.background-red {
  background-color: rgb(202, 53, 53);
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

.product-image-container {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
}

.product-image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.discount {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 1;
  color: white;
  padding: 5px 25px;
  font-size: 15px;
  line-height: 1.2;
}
.discount p {
  margin: 0;
  padding: 0;
}
.product-title {
  font-size: 20px;
  font-weight: 400;
}
.stars {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.star {
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: 1px grey;
}

.star.star-filled {
  color: #ffd700;
  -webkit-text-stroke: 1px #ffd700;
}
.product-info {
  left: 0;
  right: 0;
  bottom: -50px;
  padding: 10px;
  margin: 0;
}
.product-card:hover .product-info {
  bottom: 0;
}
.product-card:hover .add-to-cart {
  opacity: 1;
}
.review-count,
.price,
.sold-count {
  font-size: 14px;
  margin-bottom: 1px;
}
.add-to-cart {
  text-transform: capitalize;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  height: 40px;
  background-color: #2b38d1;
  border: none;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  position: relative;
  opacity: 0;
}
.overflow-hidden {
  overflow: hidden;
}
.transition-default {
  transition: all 0.5s ease-in-out;
}
.transition-1s {
  transition: all 1.5s ease-in-out;
}
